* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #888;
}
h2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
}
input {
    display: block;
    width: 60%;
    height: 40px;
    background: transparent;
    margin: 10px auto;
    border-radius: 10px;
    text-indent: 20px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
input:focus-visible {
    outline: 0;
}
button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 60px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background: rgb(75, 112, 226);
}
button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.login {
    width: 75vw;
    height: 90vh;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.login > * {
    border-radius: 5px;
    background: rgb(236, 240, 243);
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    height: 100%;
    text-align: center;
}
.login > * > * {
    margin: 40px 0;
}
.left {
    padding: 100px 50px;
    width: 40%;
    z-index: 1;
}
.right {
    padding: 50px 50px;
    width: 60%;
}
.social > i {
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border: 2px solid #888;
    border-radius: 50%;
}