* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.prev, .next {
    font-size: 50px;
    width: 100px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    position: relative;
    top: -250px;
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.prev:hover, .next:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.prev {
    float: left;
    border-radius: 0 10px 10px 0;
}
.next {
    float: right;
    border-radius: 10px 0 0 10px;
}
.slide {
    display: block;
}
.visible {
    display: none;
}