/* BASE STYLES */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.container {
    display: flex;
    flex-direction: column;
}
nav {
    position: fixed;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav > * {
    background: #000;
    box-shadow: 3px 3px 5px #111;
    width: 80px;
    padding: 10px;
}
nav > *:hover {
    transition: .3s;
    transform: scale(1.2);
}
a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    font-size: 20px;
}
a:hover {
    color: #fff;
}
section {
    height: 600px;
    display: flex;
    justify-content: center;
}
section > .bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('../img/bg-2.svg') no-repeat;
}
section:nth-child(odd) > .bg {
    background: url('../img/bg-2.svg') no-repeat;
    transform: scaleY(-1);
}
i {
    margin-right: 3px;
}

/* CARD 1 STYLES */

.card-1 {
    width: 270px;
    height: 390px;
    margin-top: 100px;
    box-shadow: 5px 5px 5px #222;
}
.card-1 > .card-header {
    color: #fff;
    background: url('https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80') center/cover;
    height: 310px;
}
.card-1 > .card-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.card-1 > .card-footer {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    padding:10px;
    background: #e4f2fd
}
.card-1 > .card-footer > *> h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:10px;
    font-size: 18px;
    color: #334454;
}
.card-1 > .card-footer > * > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #a1b2bc;
}
.card-1 > .card-footer > .img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') center/cover;
    margin-right: 10px;
}

/* CARD 2 STYLES */
.card-2 {
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(122,133,164);
    margin-top: 30px;
    box-shadow: 5px 5px 5px #222;
    border-radius: 15px;
    width: 350px;
    height: 550px;
    overflow: hidden;
}
.card-2 > strong {
    color: #000;
}
.card-2 > .card-header {
    color: #fff;
    background: url('../img/header-bg.svg') center/cover;
    height: 180px;
}
.card-2 > .card-footer {
    text-align: center;
    height: 350px;
    padding:10px 30px;
    background: #fff
}
.card-2 > .card-footer > h3 {
    color: #000;
    font-size: 24px;
    margin: 20px 0;
}
.card-2 > .card-footer > p {
    padding:0 20px;
    font-size: 14px;
}
.plan {
    background: rgb(248,249,254);
    border-radius: 10px;
    height: 40px;
    margin: 30px 0;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.plan-desc {
    width: 150px;
    margin-left: 20px;
}
.plan-desc > * {
    text-align: left;
    display:block;
    margin-bottom: 5px;
}
.plan-change {
    line-height: 40px;
}
.plan-change>a {
    font-size: 14px;
    font-weight: bold;
    color:rgb(0, 0, 238);
    text-decoration: underline;
}
.icon {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: rgb(223,229,251);
}
.btn {
    height: 40px;
    display: block;
    width: 100%;
    border:none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}
.btn-color {
    background-color: rgb(56,42,225);
    color: #fff;
    box-shadow: 0 20px 20px #bbb;
}
.btn-color:hover {
    background-color: rgb(25, 10, 190);
    transform: scale(1.05);
}
.btn-light {
    background-color: transparent;
}

/* CARD 3 STYLES */
.card-3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: rgb(38, 42, 45);
    display: flex;
    flex-wrap: wrap;
}
.card-3 > .card {
    width: 220px;
    height: 350px;
    margin: 100px 20px 50px 20px;
    box-shadow: 5px 5px 5px #222;
}
.card-3 > .card > .card-header {
    text-align: center;
    height: 300px;
    background: rgb(247, 245, 236);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-3 > .card > .card-header > .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.img1 {
    background: url('https://picsum.photos/id/2/200') center/cover;
}
.img2 {
    background: url('https://picsum.photos/id/25/200') center/cover;
}
.img3 {
    background: url('https://picsum.photos/id/53/200') center/cover;
}
.img4 {
    background: url('https://picsum.photos/id/89/200') center/cover;
}
.card-3 > .card > .card-header > h5 {
    margin: 80px 0 0 0;
    font-size: 22px;
    font-weight: 500;
}
.card-3 > .card > .card-header > span {
    font-size: 16px;
}
.card-3 > .card > .card-footer {
    height: 30px;
    background-color: rgb(19, 105, 206);
    display: flex;
    justify-content: space-around;
}
.card-3 > .card > .card-footer > span > i {
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}

/* CARD 4 STYLES */
.card-4 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: rgb(38, 42, 45);
    width: 630px;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    margin-top: 80px;
    box-shadow: 5px 5px 5px #000;
}
.card-4 > .card-left {
    width: 315px;
    background: url('../img/left-img.png') center/cover;
}
.card-4 > .card-right {
    width: 255px;
    padding: 30px;
    padding-top: 60px;
}    
.card-4 > .card-right > h2 {
    font-family: 'Bentham', serif;
    font-size: 34px;
    margin-bottom: 0;
}
.card-4 > .card-right > h5 {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ccc;
}
.card-4 > .card-right > p {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 24px;
    color: #777;
}
.card-4 > .card-right > span {
    font-size: 40px;
    font-family: 'Trocchi', serif;
}
.card-4 > .card-right > span > span {
    font-family: 'Suranna', serif;
    font-size: 45px;
}
.card-4 > .card-right > button {
    float: right;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    background: rgb(156, 235, 213);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #fff;
}
.card-4 > .card-right > button:hover {
    cursor: pointer;
    background: rgb(120, 154, 228);
    transform: scale(1.02);
    transition: .3s;
}

/* CARD 5 STYLES */
.card-5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: rgb(38, 42, 45);
    width: 800px;
    height: 400px;
    border-radius: 7px;
    overflow: hidden;
    background: #fff;
    margin-top: 80px;
    box-shadow: 5px 5px 5px #000;
    display: flex;
    flex-wrap: wrap;
}
.card-5 > .card-right {
    width: 400px;
    background: url('https://sc01.alicdn.com/kf/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3/200006212/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3.jpg') center/contain;
}
.card-5 > .card-left {
    width: 340px;
    padding: 40px 30px;
}    
.card-5 > .card-left > h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 34px;
    margin-bottom: 0;
}
.card-5 > .card-left > h5 {
    margin-top: 0;
    font-size: 13px;
    letter-spacing: 3px;
}
.card-5 > .card-left > h2 > sup {
    position: relative;
    top: -15px;
    right: 5px;
    padding: 3px 8px;
    border-radius: 4px;
    background: rgb(255, 166, 158);
    font-size: 18px;
    font-family: 'Farsan';
    color: #fff;
}
.card-5 > .card-left > h5 > i {
    color:gold;
}
.card-5 > .card-left > p {
    margin-top: 40px;
    letter-spacing: 1px;
    font-family: 'Farsan';
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    color: #777;
}
.card-5 > .card-left > button {
    margin-top: 25px;
    font-family: 'Farsan';
    font-size: 24px;
    color: #fff;
    padding: 5px;
    float:left;
    height: 50px;
    border:none;
}
.card-5 > .card-left > .button1 {
    margin-left: 60px;
    width: 70px;
    border-radius: 5px 0 0 5px;
    background: rgb(51,51,51);
}
.card-5 > .card-left > .button2 {
    width: 140px;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    background: rgb(73,198,8);
}