* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 840px;
    height: 100vh;
    margin: auto;
    background: rgb(16, 24, 39);
}
header {
    width: 800px;
    margin: auto;
    padding: 20px 10px;
}
.title > a {
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background: rgb(40, 105, 255);
    padding: 3px 15px 6px 15px;
    border-radius: 4px;
}
.title > a:hover {
    transform: scale(1.05);
}
.title > h3 {
    font-weight: bold;
    font-size: 30px;
}
.search {
    margin-top: 8px;
}
.search > *,
.card {
    background: rgb(29, 40, 60);
}
.search > i {
    font-size: 15px;
    height: 30px;
    padding: 7.5px;
    border-radius: 4px 0 0 4px;
    float: left;
}
.search > input {
    font-size: 15px;
    height: 30px;
    width: 300px;
    border-radius: 0 4px 4px 0;
    float: left;
    color: rgb(255, 255, 255);
}
.search > input:focus-visible {
    outline: none;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 800px;
    height: 80%;
    overflow-y: scroll;
    margin: auto;
    margin-top: 30px;
    clear: both;
}
.card {
    padding: 10px;
    height: 310px;
    border-radius: 5px;
}
.card-content > h5 {
    font-size: 20px;
    font-weight: 400;
}
.img {
    height: 140px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.img1 { 
    background: url('img/img1.png') center/cover; 
}
.img2 { 
    background: url('img/img2.png') center/cover; 
}
.img3 { 
    background: url('img/img3.png') center/cover; 
}
.img4 { 
    background: url('img/img4.png') center/cover; 
}
.img5 { 
    background: url('img/img5.png') center/cover; 
}
.img6 { 
    background: url('img/img6.png') center/cover; 
}
.item {
    font-weight: 600;
    display: flex;
    font-size: 15px;
    line-height: 22px;
}
.item > span {
    width: 50%;
    text-align: right;
}
.item > span:first-of-type {
    text-align: left;
    color: #aaa;
}
.active {
    font-size: 14px;
    padding: 2px 7px;
    border-radius: 4px;
    color: rgb(42, 160, 110);
    background: rgba(42, 160, 110, .1);
}
.disabled {
    font-size: 14px;
    padding: 2px 7px;
    border-radius: 4px;
    color: rgb(85, 108, 150);
    background: rgba(85, 108, 150, .1);
}