*{
    margin:0;

    color: #d0f224; /*color botones*/
     
    color: #717173; /*color lineas*/

}
@font-face {
    font-family: Shopify-regular;
    src: url('ShopifySans--regular.woff2');
}
@font-face {
    font-family: Shopify-bold;
    src: url('ShopifySans--bold.woff2');
}
@font-face {
    font-family: Shopify-extrabold;
    src: url('ShopifySans--extrabold.woff2');
}
.chat {
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 35px;
    right: 35px;
    background: #fff url('chat.png') center/contain;
    border-radius: 4px;
}

body {
    width: 85%;
    margin: auto;
    background-color: #15141b;
}

main{
    width: 100%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;

}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    width: 50%;  
}
.texto p {
    font-size: 1.2em;
}

.texto h1{
    font-family: 'shopify-extrabold',Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: #fff;
}

.texto h5{
    font-family: 'shopify-regular',Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0 23px;
    color: #fff;
}

.greentext{
    font-family:'shopify-bold',Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #d0f224 !important;
}

.boton{
    font-family: Shopify-extrabold;
    height: 48px;
    width: 120px;
    background: #d0f224;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: black;
}

.boton:hover{
    background: rgb(183, 212, 33);
    color: black;
}


.video{
    height: 400px;
    width: 50%;
}

/***** NAVBAR *****/

nav {
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.logo {
    width: 160px;
    height: 80px;
    background: url('logo.png') center/contain no-repeat;
    float: left;
}
.left-menu {
    display: flex;
    justify-content: flex-start;
    float: left;
}
.right-menu {
    display: flex;
    justify-content: flex-start;
    float: right;
}
.left-menu a,
.right-menu a {
    font-size: 15px;
    font-family: Shopify-bold;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    margin: 0 5px;
}
.left-menu a:focus,
.right-menu a:focus {
    outline: none;
    transition: box-shadow 300ms;
    box-shadow: 0 0 0 3px #1fb0ff;
    border-radius: 15px;
}
.dropdown.menu > a::after {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content : "\f107";
    color: #ffF;
    padding-left: 10px;
}
.dropdown:hover > a::after {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content : "\f107";
    color: #ffF;
    padding-left: 10px;
    position: relative;
    top: 3px;
    transition: .5s;
}
.dropdown.menu:hover .dropdown-content {
    display: flex;
}
.dropdown-content {
    position: absolute;
    margin-top: -20px;
    width: 240px;
    background: #fff;
    border-radius: 5px;
    line-height: 30px;
    flex-direction: column;
    padding: 7px 0;
    display: none;
}
.dropdown-content a {
    color: #3d3f40;
    background: transparent;
    padding: 5px 15px;
    margin: 0;
}
.dropdown-content a:hover {
    color: #000000;
    background: #dbdcdc;
}
.dropdown-content a:focus {
    border-radius: 0;
    color: #000000;
    background: #dbdcdc;
}
.dropdown-content hr {
    background-color: #3d3f40;
    width: 80%;
    height: 1px;
    margin: 5px auto;
    border:none;
}

svg {
    position: absolute;
    top: 80px;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}